<div class="container mt-2 bg-light col-lg-6">

    <p><strong> Formulaire avec FormControl / Formgroup / FormArray</strong></p>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        {{ registrationForm.value | json }}
        <!-- input email -->
        <div class="form-group">
            <label>Email</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('email').errors, 
            'is-valid': submited && !registrationForm.get('email').errors}" type="email" class="form-control"
                formControlName="email">
            <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
                <small *ngIf="registrationForm.get('email').errors?.required" class="text-danger">Email is
                    required</small>
                <small *ngIf="registrationForm.get('email').errors?.pattern" class="text-danger">Email must be
                    xxxx.xxxx@gmail.com</small>
            </div>
        </div>

        <!-- input password -->
        <div class="form-group">
            <label>Password</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('password').errors, 
            'is-valid': submited && !registrationForm.get('password').errors}" type="password" class="form-control"
                formControlName="password">
            <div *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
                <small *ngIf="registrationForm.get('password').errors.required" class="text-danger">Password is
                    required</small>
                <small *ngIf="registrationForm.get('password').errors.pattern" class="text-danger">Password must be
                    eight and different caracters</small>
            </div>
        </div>

        <!-- Name -->
        <div class="form-group">
            <label>Name</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('name').errors, 
            'is-valid': submited && !registrationForm.get('name').errors}" type="text" class="form-control"
                formControlName="name">
            <div *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">
                <small *ngIf="registrationForm.get('name').errors.required" class="text-danger">Name is
                    required</small>
            </div>
        </div>

        <!-- Lastname -->
        <div class="form-group">
            <label>Lastame</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('lastname').errors, 
            'is-valid': submited && !registrationForm.get('lastname').errors}" type="text" class="form-control"
                formControlName="lastname">
            <div *ngIf="registrationForm.get('lastname').invalid && registrationForm.get('lastname').touched">
                <small *ngIf="registrationForm.get('lastname').errors.required" class="text-danger">Lastame is
                    required</small>
            </div>
        </div>

        <!-- skills -->
        <div class="form-group" formArrayName="skills">
            <label>skills</label>
            <button type="button" class="btn btn-success btn-sm mx-3 mb-2" (click)="onAddskills()">+ Add
                skills</button>
            <div *ngFor="let skill of skills.controls; let i=index">
                <input type="text" class="form-control mt-2" [formControlName]="i">
                <button type="button" class="btn btn-danger btn-sm mb-2 mt-1" (click)="onsuppskills(i)">Delete</button>
            </div>


            <!-- <input type="text" class="form-control mt-2" *ngIf="registrationForm.get('skills').length"> -->

            <!-- 
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('skills').errors, 
            'is-valid': submited && !registrationForm.get('skills').errors}" type="text" class="form-control mt-2"
                formControlName="skills"> -->
            <!-- <div *ngIf="registrationForm.get('skills').invalid && registrationForm.get('skills').touched">
                <small *ngIf="registrationForm.get('skills').errors.required" class="text-danger">Skills is
                    required</small>
            </div> -->
        </div>

        <!-- Experiences Professionnelles -->

        <div class="form-group" formArrayName="exppros">
            <label>Expériences Professionnelles</label>
            <button type="button" class="btn btn-success btn-sm mx-3 mb-2" (click)="onAddexppros()">+ Add
                Expérience</button>
            <div *ngFor="let exppro of exppros.controls; let i=index">
                <input type="text" class="form-control mt-2" [formControlName]="i">
                <button type="button" class="btn btn-danger btn-sm mb-2 mt-1" (click)="onsuppexppros(i)">-
                    Delete</button>
            </div>

            <!-- <input type="text" class="form-control mt-2" *ngIf="registrationForm.get('exppros').length"> -->


            <!-- <input [ngClass]="{'is-invalid': submited && registrationForm.get('exppros').errors, 
            'is-valid': submited && !registrationForm.get('exppros').errors}" type="text" class="form-control mt-2"
                formControlName="exppros">
            <div *ngIf="registrationForm.get('exppros').invalid && registrationForm.get('exppros').touched">
                <small *ngIf="registrationForm.get('exppros').errors.required" class="text-danger">Expérience pro is
                    required</small>
            </div> -->
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
        <button type="button" class="btn btn-info mx-2" (click)="onsavejson()">Save Json</button>

    </form>
</div>
<br>

<!-- Tableau -->
<div class="container">
    <button type="button" class="btn btn-warning mb-2" (click)="onsavetab()">save tab</button>
    <table class="table table-bordered">
        <thead>
            <tr class="bg-light">
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Skills</th>
                <th scope="col">Expérience Professionnelle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <tr *ngFor="let key of tab; let i = index" class="table-active">
                <td>{{key.email}}</td>
                <td>{{key.password}}</td>
                <td>{{key.name}}</td>
                <td>{{key.lastname}}</td>
                <td>{{key.skills}}</td>
                <td>{{key.exppros}}</td>
            </tr>
        </tbody>
    </table>
</div>